In [1]:
data = [('2022-07-25 21:29:47', 32.01, 70.0, 100490.0), ('2022-07-25 21:30:47', 32.01, 70.0, 100488.0), ('2022-07-25 21:31:48', 32.0, 70.0, 100490.0), ('2022-07-25 21:32:48', 32.01, 70.0, 100494.0), ('2022-07-25 21:33:48', 32.01, 69.0, 100498.0), ('2022-07-25 21:34:48', 32.01, 69.0, 100492.0), ('2022-07-25 21:35:48', 32.01, 69.0, 100498.0), ('2022-07-25 21:36:48', 32.01, 69.0, 100492.0), ('2022-07-25 21:39:48', 32.0, 70.0, 100496.0), ('2022-07-25 21:40:48', 32.0, 70.0, 100498.0), ('2022-07-25 21:41:48', 32.0, 70.0, 100492.0), ('2022-07-25 21:43:48', 31.07, 56.0, 100496.0), ('2022-07-25 21:44:48', 31.07, 68.0, 100494.0), ('2022-07-25 21:45:48', 31.08, 70.0, 100494.0), ('2022-07-25 21:46:48', 31.09, 66.0, 100488.0), ('2022-07-25 21:47:48', 31.09, 62.0, 100498.0), ('2022-07-25 21:48:48', 31.09, 66.0, 100498.0), ('2022-07-25 21:49:48', 31.09, 70.0, 100500.0), ('2022-07-25 21:50:49', 31.09, 70.0, 100498.0), ('2022-07-25 21:51:49', 31.07, 67.0, 100498.0), ('2022-07-25 21:52:49', 31.05, 64.0, 100506.0), ('2022-07-25 21:53:49', 31.06, 68.0, 100510.0), ('2022-07-25 21:54:49', 31.05, 68.0, 100506.0), ('2022-07-25 21:55:49', 31.05, 71.0, 100506.0)]

In [11]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

# final_model = tf.keras.models.load_model("./model/test_model.hdf5",compile=True)
# data = np.array(data, dtype='float32')
df = pd.DataFrame(data)
df.head()

                     0      1     2         3
0  2022-07-25 21:29:47  32.01  70.0  100490.0
1  2022-07-25 21:30:47  32.01  70.0  100488.0
2  2022-07-25 21:31:48  32.00  70.0  100490.0
3  2022-07-25 21:32:48  32.01  70.0  100494.0
4  2022-07-25 21:33:48  32.01  69.0  100498.0

In [12]:
df.columns=['time','temp', 'humidity', 'pressure']
df.head()

                  time   temp  humidity  pressure
0  2022-07-25 21:29:47  32.01      70.0  100490.0
1  2022-07-25 21:30:47  32.01      70.0  100488.0
2  2022-07-25 21:31:48  32.00      70.0  100490.0
3  2022-07-25 21:32:48  32.01      70.0  100494.0
4  2022-07-25 21:33:48  32.01      69.0  100498.0

In [13]:
df=df.set_index(df.columns[0])
df.head()

                      temp  humidity  pressure
time
2022-07-25 21:29:47  32.01      70.0  100490.0
2022-07-25 21:30:47  32.01      70.0  100488.0
2022-07-25 21:31:48  32.00      70.0  100490.0
2022-07-25 21:32:48  32.01      70.0  100494.0
2022-07-25 21:33:48  32.01      69.0  100498.0

In [15]:
df.index = pd.to_datetime(df.index)

In [17]:
df['month']=df.index.month
df['hour']=df.index.hour
df['sin(h)']=[np.sin((x) * (2 * np.pi / 24)) for x in df['hour']]
df['cos(h)']=[np.cos((x) * (2 * np.pi / 24)) for x in df['hour']]
future=['sin(h)','cos(h)','month','temp','pressure','humidity']
#数据归一化，由于sin和cos本来就是-1到1，不用归一化
for col in future:
    scaler=MinMaxScaler()
    if(col not in ['sin(h)','cos(h)']):
        df[col]=scaler.fit_transform(df[col].values.reshape(-1,1))
x=np.array([np.array(df[future])])
print(x,x.shape)

# pred = final_model.predict(x)
# return pred

[[[-0.70710678  0.70710678  0.          1.          0.09090909
    0.93333333]
  [-0.70710678  0.70710678  0.          1.          0.
    0.93333333]
  [-0.70710678  0.70710678  0.          0.98958333  0.09090909
    0.93333333]
  [-0.70710678  0.70710678  0.          1.          0.27272727
    0.93333333]
  [-0.70710678  0.70710678  0.          1.          0.45454545
    0.86666667]
  [-0.70710678  0.70710678  0.          1.          0.18181818
    0.86666667]
  [-0.70710678  0.70710678  0.          1.          0.45454545
    0.86666667]
  [-0.70710678  0.70710678  0.          1.          0.18181818
    0.86666667]
  [-0.70710678  0.70710678  0.          0.98958333  0.36363636
    0.93333333]
  [-0.70710678  0.70710678  0.          0.98958333  0.45454545
    0.93333333]
  [-0.70710678  0.70710678  0.          0.98958333  0.18181818
    0.93333333]
  [-0.70710678  0.70710678  0.          0.02083333  0.36363636
    0.        ]
  [-0.70710678  0.70710678  0.          0.02083333  0.27272727
    0.8       ]
  [-0.70710678  0.70710678  0.          0.03125     0.27272727
    0.93333333]
  [-0.70710678  0.70710678  0.          0.04166667  0.
    0.66666667]
  [-0.70710678  0.70710678  0.          0.04166667  0.45454545
    0.4       ]
  [-0.70710678  0.70710678  0.          0.04166667  0.45454545
    0.66666667]
  [-0.70710678  0.70710678  0.          0.04166667  0.54545455
    0.93333333]
  [-0.70710678  0.70710678  0.          0.04166667  0.45454545
    0.93333333]
  [-0.70710678  0.70710678  0.          0.02083333  0.45454545
    0.73333333]
  [-0.70710678  0.70710678  0.          0.          0.81818182
    0.53333333]
  [-0.70710678  0.70710678  0.          0.01041667  1.
    0.8       ]
  [-0.70710678  0.70710678  0.          0.          0.81818182
    0.8       ]
  [-0.70710678  0.70710678  0.          0.          0.81818182
    1.        ]]] (1, 24, 6)